.flex {
  display: flex;
}
.flex-start{
  align-items: flex-start;
}
.end {
  align-items: flex-end;
}
.flex-row {
  display: flex;
  flex-direction: row;
  /* 必要に応じて他のスタイリング */
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.column {
  flex-direction: column;
}

.justify-c-sp-b{
  justify-content: space-between;
}
.center{
  justify-content: center;
}
.btn{
  /* buttonのスタイル */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.btn:hover{
  /* ホバー時のスタイル */
  background-color: #ccc;
}
.info{
  /* 背景色が青色 */
  background-color: #2196F3;
  color: #fff;
}
.danger{
  /* 背景色が赤色 */
  background-color: #f44336;
  color: #fff;
}

.mx-w120{
  /* 最大幅が120px */
  max-width: 120px;
}
.mr-1o{
  margin-right: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mb-20{
  /* マージン-bottomが20px */
  margin-bottom: 20px;
}
.mb-40{
  margin-bottom: 40px;
}

.p-40{
  padding: 40px;
}
